$cube-phone-number-input-placeholder-color: #999999 !default;
$cube-phone-number-input-country-code-color: #999999 !default;

.cube-phone-number-input {
  display: flex;
  cursor: text;
  .country-code-selector {
    flex: 1 0 auto;
    box-sizing: border-box;
    max-width: 120px;
    appearance: none;
    outline: none;
    margin: 0 1em 0 0;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
    color: $cube-phone-number-input-country-code-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    &:invalid {
      color: $cube-phone-number-input-placeholder-color;
    }
  }
  .phone-number-input {
    flex: 1 1 auto;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0 none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
    color: inherit;
    &::placeholder {
      color: $cube-phone-number-input-placeholder-color;
      opacity: 1; // Firefox
      background-color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
    // Internet Explorer 10-11
    &:-ms-input-placeholder {
      color: $cube-phone-number-input-placeholder-color;
      background-color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
    // Microsoft Edge
    &::-ms-input-placeholder {
      color: $cube-phone-number-input-placeholder-color;
      background-color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }
}
